In [1]:
print("HELLO WORLD")

HELLO WORLD

In [3]:
a = input("ENTER ANY NUMBER: ")
b = input("ENTER ANY NUMBER: ")
add = int(a) + int(b)
print("THE SUM OF THE ENTERED NUMBERS IS: ", add)

ENTER ANY NUMBER: 10
ENTER ANY NUMBER: 21
THE SUM OF THE ENTERED NUMBERS IS:  31

In [4]:
a = input("ENTER ANY NUMBER: ")
b = input("ENTER ANY NUMBER: ")
print("BEFORE SWAPPING: ")
print("Value of a: ",a)
print("Value of b: ",b)
a,b = b,a
print("AFTER SWAPPING: ")
print("Value of a: ",a)
print("Value of b: ",b)

ENTER ANY NUMBER: 3
ENTER ANY NUMBER: 5
BEFORE SWAPPING:
Value of a:  3
Value of b:  5
AFTER SWAPPING:
Value of a:  5
Value of b:  3

In [6]:
a = int(input("ENTER YOUR VALUE(in kilometers:) "))
cov = 0.621371
b = a * cov
print("THE VALUE ENTERED IN MILES IS: ",b)

ENTER YOUR VALUE(in kilometers:) 23
THE VALUE ENTERED IN MILES IS:  14.291533

In [10]:
a = int(input("ENTER ANY NUMBER: "))
if(a>0):
    print("THE ENTERED NUMBER IS POSITIVE")
elif(a<0):
    print("THE ENTERED NUMBER IS NEGATIVE")
else:
    print("THE ENTERED NUMBER IS 0")

ENTER ANY NUMBER: -8
THE ENTERED NUMBER IS NEGATIVE

In [13]:
a = int(input("ENTER ANY YEAR: "))
if(a%400 == 0 & a%100 == 0):
    print("IT IS A LEAP YEAR")
elif(a%4 == 0 & a%100 != 0):
    print("IT IS A LEAP YEAR")
else:
    print("IT IS NOT A LEAP YEAR")

ENTER ANY YEAR: 2003
IT IS NOT A LEAP YEAR

In [4]:
lower =int(input("ENTER THE STARTING NUMBER: "))
upper =int(input("ENTER THE ENDING NUMBER: "))
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num, end = " ")

ENTER THE STARTING NUMBER: 66
ENTER THE ENDING NUMBER: 99
Prime numbers between 66 and 99 are:
67 71 73 79 83 89 97

In [7]:
num = int(input("ENTER THE NUMBER: "))
n1, n2 = 0, 1
print("FIBONACII SERIES IS: ", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

ENTER THE NUMBER: 2
FIBONACII SERIES IS:  0 1

In [ ]:
num = int(input("Enter a number: "))
sum =0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

  8